@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins&family=Raleway&display=swap');
* {
    margin: 0;
    padding: 0;
}

.bgPrimary{
    background: #F2D5C4;
    
}

.bgSecondary{
    background: #FEF6F0;
}

.bgThyrd {
    background: #FEF6F0;
}

nav{
    display: flex;
    align-items: center; /* alinha na vertical*/
    justify-content: space-between;  /* alinha na horizontal*/
    height: 60px;
    padding: 0 45px;  
}

nav h3 {
    font: 2rem;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.imgFundo {
    background-image: url("../imagens/background-image.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 650px;
}

.detalhes{
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* alinha na horizontal*/
    justify-content: space-around;
    height: 400px;
    width: 25%;
    padding-left: 100px;
    padding-top: 140px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
}

.detalhes input{
    width: 80%;
    height: 30px;
    padding: 0 14px;
    font-family: 'Poppins', sans-serif;
    border: none;
}

.detalhes input:focus{
    outline: none;
}

.detalhes button{
    width: 40%;
    height: 30px;
    background: #463232;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 0.8rem;
    border: none;
    outline: none;
}

.empresas {
    text-align: center;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    padding-top: 15px;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
}

.produtos {
    display: flex;
    justify-content: space-evenly;
    height: 800px;
}

.produtoUnico {
    font-family: 'Poppins', sans-serif;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#comprar {
    width: 30%;
    height: 30px;
    background: #463232;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 0.9rem;
    border: none;
    outline: none;

}

#detalhes {
    width: 20%;
    height: 30px;
    background: #FFF;
    font-family: 'Poppins', sans-serif;
    color: #463232;
    font-size: 0.9rem;
    border: 2px solid #463232;
    outline: none;
}

.produtos2 {
    font-family: 'Poppins', sans-serif;
    text-align: center;   

}

.produtoUnicos2 {

}

.comprarAgora {
    width: 15%;
    height: 30px;
    background: #463232;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    font-size: 0.9rem;
    border: none;
    outline: none;
}

.adicionar {
    width: 17%;
    height: 30px;
    background: #FFF;
    font-family: 'Poppins', sans-serif;
    color: #463232;
    font-size: 0.9rem;
    border: 2px solid #463232;
    outline: none;
}

.numeros {
    display: flex;
    justify-content: space-evenly;
    padding: 35px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    text-align: center;
}

#direitos {
    font-family: 'Poppins', sans-serif;
    padding: 35px 35px;
    text-align: center;
}